*.cpp text working-tree-encoding=UTF-8
*.h   text working-tree-encoding=UTF-8
*.txt text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8

*.cpp text eol=lf
*.h   text eol=lf
*.txt text eol=lf